USE [master]
GO
/****** Object:  Database [appDatvexemPhim]    Script Date: 5/25/2026 8:12:06 PM ******/
CREATE DATABASE [appDatvexemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'appDatvexemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\appDatvexemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'appDatvexemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\appDatvexemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [appDatvexemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [appDatvexemPhim]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[IsVerified] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingProduct]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingProduct](
	[BookingProductID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
	[HoldUntil] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[District] [nvarchar](100) NULL,
	[CityID] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[HallName] [nvarchar](100) NOT NULL,
	[TotalRows] [int] NOT NULL,
	[TotalCols] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[SeatType] [nvarchar](20) NOT NULL,
	[SeatPrice] [decimal](10, 2) NULL,
	[PairID] [int] NULL,
	[RowIndex] [int] NOT NULL,
	[ColIndex] [int] NOT NULL,
	[IsAisle] [bit] NULL,
	[RowVersion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Gender] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[LoyaltyPoints] [int] NULL,
	[AvatarUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeMovie]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeMovie](
	[CustomerID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[IsLiked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPointHistory]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPointHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[Points] [int] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](200) NOT NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieLanguage] [nvarchar](50) NULL,
	[MovieRuntime] [int] NULL,
	[MovieReleaseDate] [date] NULL,
	[MovieActor] [nvarchar](500) NULL,
	[MovieDirector] [nvarchar](200) NULL,
	[MovieDescription] [nvarchar](2000) NULL,
	[TrailerUrl] [nvarchar](500) NULL,
	[Rating] [decimal](3, 1) NULL,
	[IsFeatured] [bit] NULL,
	[FeaturedOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[PosterUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](30) NULL,
	[DateSend] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[VoucherID] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RefundAmount] [decimal](10, 2) NULL,
	[RefundAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[ImageProduct] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[ProductCategory] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Format] [nvarchar](10) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MaxDiscount] [decimal](10, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
	[UsageLimit] [int] NOT NULL,
	[UsageCount] [int] NULL,
	[MinTicketQty] [int] NULL,
	[MinOrderValue] [decimal](10, 2) NULL,
	[ApplicableFormat] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherCustomer]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherCustomer](
	[VoucherID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AssignedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC,
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUsage]    Script Date: 5/25/2026 8:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUsage](
	[VUsageID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[UsedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Email], [PasswordHash], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (1, N'haidang', N'$2b$10$iT0bRhFj6xuFMi3fGM6XPuNtQeH1YP.Y.HCyrlTj3wzGR6tUG/Qqa', N'CUSTOMER', NULL, NULL, NULL)
INSERT [dbo].[Account] ([AccountID], [Email], [PasswordHash], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (2, N'nguyendat752005', N'$2b$10$xKzNAL95974JIaJPDoEFcuB/Mt5Pldx5yusZMCd5w8XDFfGTk/7hu', N'CUSTOMER', NULL, NULL, NULL)
INSERT [dbo].[Account] ([AccountID], [Email], [PasswordHash], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (3, N'admin@movieticket.com', N'$2b$10$9AyxnktGLgxgA9fgLuiIf.8Y12c3ue01TnkEroJi2Tclp0KoWJs5u', N'ADMIN', 1, 1, CAST(N'2026-05-11T20:24:46.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (27, 3, 4, 3, CAST(225000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-05-19T08:25:59.787' AS DateTime), CAST(N'2026-05-19T08:25:59.787' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (28, 3, 9, 3, CAST(450000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-05-19T08:25:59.797' AS DateTime), CAST(N'2026-05-19T08:25:59.797' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (29, 3, 34, 3, CAST(225000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-05-19T08:25:59.800' AS DateTime), CAST(N'2026-05-19T08:25:59.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingSeat] ON 

INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (79, 27, 4, 26, N'BOOKED', CAST(75000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (80, 27, 4, 27, N'BOOKED', CAST(75000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (81, 27, 4, 28, N'BOOKED', CAST(75000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[BookingSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address], [District], [CityID], [Latitude], [Longitude], [IsActive]) VALUES (1, N'CGV Vincom Center Dong Khoi', N'72 Le Thanh Ton, Ben Nghe Ward', N'District 1', 1, CAST(10.777900 AS Decimal(9, 6)), CAST(106.702000 AS Decimal(9, 6)), 1)
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address], [District], [CityID], [Latitude], [Longitude], [IsActive]) VALUES (2, N'CGV Vincom Center hanoi', N'ha noi', N'District 1', 2, CAST(0.000006 AS Decimal(9, 6)), CAST(0.000008 AS Decimal(9, 6)), 1)
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (1, 1, N'cinema 1', 5, 5, 20)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (2, 1, N'cinema 2', 6, 7, 42)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (3, 1, N'cinema 3', 8, 8, 64)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] ON 

INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (1, 1, N'A1', N'STANDARD', CAST(0.00 AS Decimal(10, 2)), NULL, 1, 1, 0, NULL)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (2, 1, N'A2', N'STANDARD', CAST(0.00 AS Decimal(10, 2)), NULL, 1, 2, 0, NULL)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (3, 1, N'A3', N'DISABLED', CAST(0.00 AS Decimal(10, 2)), NULL, 1, 3, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Ho Chi Minh')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'ha noi')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [AccountID], [FullName], [CustomerEmail], [PhoneNumber], [Gender], [DateOfBirth], [LoyaltyPoints], [AvatarUrl]) VALUES (2, 3, N'Admin', NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [FullName], [CustomerEmail], [PhoneNumber], [Gender], [DateOfBirth], [LoyaltyPoints], [AvatarUrl]) VALUES (3, 4, N'nguyendat', N'nguyendat@gmail.com', N'1234567890', N'MALE', CAST(N'2006-05-17' AS Date), 0, NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [FullName], [CustomerEmail], [PhoneNumber], [Gender], [DateOfBirth], [LoyaltyPoints], [AvatarUrl]) VALUES (4, 5, N'Nguyen thanh dat ', NULL, N'0367813985', N'MALE', CAST(N'2005-05-07' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieGenre], [MovieLanguage], [MovieRuntime], [MovieReleaseDate], [MovieActor], [MovieDirector], [MovieDescription], [TrailerUrl], [Rating], [IsFeatured], [FeaturedOrder], [IsActive], [PosterUrl]) VALUES (1, N'viet nam', N'lich su', N'tieng viet', 135, CAST(N'2026-05-18' AS Date), N'dat', N'tao', N'phim lich su viet nam', NULL, NULL, 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (1, 54, NULL, CAST(165000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'FLICKTICKETS_PAY', CAST(N'2026-05-24T21:33:25.790' AS DateTime), N'CREATED', CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (2, 54, NULL, CAST(165000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'FLICKTICKETS_PAY', CAST(N'2026-05-24T21:33:57.357' AS DateTime), N'CREATED', CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (3, 55, NULL, CAST(160000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'FLICKTICKETS_PAY', CAST(N'2026-05-24T21:35:50.510' AS DateTime), N'PENDING_PAYMENT', CAST(0.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive], [ProductCategory]) VALUES (1, N'kjáhẹkehbf', N'akjfhạkfhdjkh', CAST(7213647.00 AS Decimal(10, 2)), N'139847798', 0, N'OTHER')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive], [ProductCategory]) VALUES (2, N'Trà sữa', N'ngon vai ', CAST(30000.00 AS Decimal(10, 2)), N'/uploads/products/1779203139862-product.jpg', 1, N'DRINK')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive], [ProductCategory]) VALUES (3, N'bap', N'bap rang bo', CAST(50000.00 AS Decimal(10, 2)), N'/uploads/products/1779203167996-product.jpg', 1, N'POPCORN')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Show] ON 

INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (1, 4, 3, CAST(N'2026-05-18' AS Date), CAST(N'20:30:00' AS Time), CAST(N'23:08:00' AS Time), N'IMAX', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (2, 3, 1, CAST(N'2026-05-18' AS Date), CAST(N'20:55:00' AS Time), CAST(N'23:38:00' AS Time), N'IMAX', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (3, 2, 1, CAST(N'2026-05-06' AS Date), CAST(N'21:59:00' AS Time), CAST(N'01:15:00' AS Time), N'3D', CAST(75000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Show] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MaxDiscount], [StartDate], [EndDate], [IsActive], [UsageLimit], [UsageCount], [MinTicketQty], [MinOrderValue], [ApplicableFormat], [CreatedAt]) VALUES (1, N'Sale10', N'PERCENT', CAST(10.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)), CAST(N'2026-05-05' AS Date), CAST(N'2026-05-31' AS Date), 1, 20, 0, NULL, CAST(100000.00 AS Decimal(10, 2)), N'ALL', CAST(N'2026-05-25T14:15:24.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductCategory]  DEFAULT ('OTHER') FOR [ProductCategory]
GO
USE [master]
GO
